body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    min-height: 100vh;
    padding-left: 300px;
  }

  header, footer {
    padding-left: 300px;
  }

  .logo {
      border-bottom: solid 1px lightgrey;
      text-align: center;
      padding: 3%;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .log {
    display: flex;
    width: 20%;
    padding: 0.5%;
    border-bottom-left-radius: 1.2rem; 
 }

  .us {
      width: 50%;
      text-align: center;
      color: white;
      transition: 300ms;
  }

  .us:hover {
      cursor: pointer;
      transition: 300ms;
      color: #757575;
  }

  .sidenav {
    width: 30%;
  }

  .bl {
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 70%;
    left: 30%;
    height: 100vh;
    top: 0;
    z-index: 2;
  }

  .row .col.s3 {
    width: 22%!important;
    margin-left: 2%!important;
    top: 4%;
  }

  .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 8rem;
    margin-left: 2%;
    margin-top: 2%;
    z-index: 3;
  }

  .cardimg {
    width: 30%;
  }

  .card p {
   margin-top: 2%;
   font-weight: bold;
  }

  .bodycard {
    width: 100%;
    margin: auto;
  }

  .fas.fa-window-close {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    left: 96%;
    top: 2%;
    font-size: 1.5rem;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }